body{
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #3b3b3b 31%, #535353 48%, #000000 100%);

}

.heading,p{
    width:84%;
    font-size:25px;
    font-family: 'Architects Daughter', cursive;
    color:violet;
}

label{
    font-family: 'Architects Daughter', cursive;
    color:violet;
}

b {
    font-size:15px;
    font-family: 'Architects Daughter', cursive;
}

.name_of_objects{
    color:violet;
}

#camera{
    border:2px dotted black;
    width:350px;
    height:350px;
}